<h1> All Recipes </h1>

<%= form_tag recipes_path, method: "get" %>
<%= label_tag "Sort Ascending" %>
<%= radio_button_tag :sort, 'ascend' %>
<%= submit_tag "Sort" %>

<ul>
<% @recipes.each do |recipe| %>
    <li><%= "#{recipe.name} -- #{recipe.ingredients.count}"%></li>
    
<% end %>
</ul>