<%= form_with url: recipes_path do |f| %>
    <%= f.label :q, "Search for:" %>
    <%= f.text_field :q %>
    <%= f.button "Search"  %>
  <% end %>

<h1> All Recipes </h1>
<ul>
<% @recipes.each do |recipe| %>
    <li><%= recipe.name %></li>
    
<% end %>
</ul>

<